ul{
	font-family: $font_os;
	font-weight: 200;
	a{
		display: block;
	}
}


.home {
  position: relative;
  left: 0;
}
#menu {
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  left: -290px;
  z-index: 1000;
  background-color: #186;
  overflow: auto;
}
#menu,
.home {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#menu.menu-open {
	left: 0px;
}
.menu-push {
	left: 290px;
}
.site-header button {
  color: yellow;
  border: none;
  position: fixed;
  padding: 30px;
  background-color: transparent;
  z-index: 99;
}